<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xwq.qingyouapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- minSdkVersion="14" -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".util.ThisApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".BasicInfoActivity"
            android:label="@string/title_activity_basic_info"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".IdentifyActivity"
            android:label="@string/title_activity_identify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".ImageUploadActivity"
            android:label="@string/title_activity_image_upload" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".SysMainActivity"
            android:label="@string/title_activity_sys_main" >
        </activity>
        <activity
            android:name=".EditInfoActivity"
            android:label="@string/title_activity_edit_info"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".TaMainActivity"
            android:label="@string/title_activity_ta_main" >
        </activity>
        <activity
            android:name=".TaSettingActivity"
            android:label="@string/title_activity_ta_setting" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".TagsEditActivity"
            android:label="@string/title_activity_tags_edit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".PhotoShowActivity"
            android:label="@string/title_activity_photo_show" >
        </activity>
        <activity
            android:name=".IdealTaActivity"
            android:label="@string/title_activity_ideal_ta" >
        </activity>
        <activity
            android:name=".IdealSettingActivity"
            android:label="@string/title_activity_ideal_setting" >
        </activity>
        <activity
            android:name=".MyShowActivity"
            android:label="@string/title_activity_my_show" >
        </activity>
    </application>

</manifest>